body {
  font-family: 'Century Gothic', sans-serif;
}

header {
  padding: 0 50px;
  border: solid 1px #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
}

section {
  width: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

/* Search bar container */
#search-bar-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 20px 0;
}

input {
  width: 75%;
}

/* Search result */
.result-card {
  border: 1px solid rgb(233, 232, 232);
  border-radius: 10px;
  padding: 15px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.result-card:hover {
  background-color: rgb(233, 232, 232);
}

.result-card img {
  height: 150px;
  border-radius: 10px;
}

.result-card p {
  font-weight: bold;
}

/* Person details */
#person-details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#photo-identity {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

#identity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

#person-details>p {
  padding: 20px;
  text-align: justify;
}

#person-details img {
  width: 250px;
  border-radius: 10px;
  margin-bottom: 20px;
}